extends layout
//- extend to pobranie calego layoutu i napidsze block content - nazwa przpadkowa ale tu i tu ta sama/// ponizej:
//- /// to sie wywola bo w indes js w routes wysowla to na req lub res? ?????

block content
  h1= title
  p Welcome to #{title}
//- w p jest w #{} bo to string i jak w JSX